@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;600&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}

.hero .hero-body .container .title {
    color: white;
    display: flex;
    justify-content: flex-end;
}

.hero .hero-body .container img {
   max-width: 100%;
   height: auto;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   padding-right: 80px;
}

.hero .hero-body .container .title {
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 80px;
    font-size: 20px;
}

.container .notification {
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container .notification #border1 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 20px;
    border-bottom: solid;
}

.container .notification #border2 {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    border-bottom: solid;
}

.container .notification .paragraph {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
}